<div class="container">
     <div class="col-md-12 margin-top-5per article-box">
        <h1 class="text-center">ブログの新規作成</h1>

        <%= image_tag 'Shinkansen.jpg', class: 'img-responsive  padding-top-15' %>
          <div class="padding-bottom-15">
            <%= render 'form' , article: @article %>
          </div>
      </div>
</div>